$primary: #000000;
$white: #ffffff;
$green: #4cbf0e;
$blue: #17419b;
$red: #d0021b;
$orange: #e9a938;

$grey-1:#9b9b9b;
$grey-2:#fbfbfb;
$grey-3:#dedede;
$grey-4:#f0eded;
$grey-5:#f2f3f5;
$grey-6:#f7f7f7;

$smaller: 12px;
$standard: 15px;
$large: 18px;

$standard-border: 2px solid $grey-3;
$skinny-border: 1px solid $grey-3;
$thicc-border: 3px solid $grey-3;

$width-xs: 600;
$width-sm: 768;
$width-md: 1024;
$width-lg: 1280;
